.series {
	.map {
		background rgba(#000, .25) center no-repeat
		background-size cover

		//How to update and/or add new images
		//Step 1: create the argument for the map (i.e map de_sparity would be &.--de_sparity)
		//Step 2: setup background image url argument
		//Step 3: host image within the CSC Media drive
		//Step 4: Grab viewable link, ex: https://drive.google.com/file/d/1maSdC8jGbST9uxOrneNiFo38fGgPUJ0T/view?usp=share_link (Link is of Anubis)
		//Step 5: modify link from type https://drive.google.come/file/d/FILE_ID/view?usp=share_link to https://drive.google.com/uc?id=FILE_ID
		//Step 5 continued - example link would become https://drive.google.com/uc?id=1maSdC8jGbST9uxOrneNiFo38fGgPUJ0T
		//Step 6: use that link for the argument of background image.

		&.--ar_baggage {
			background-image url('https://drive.google.com/uc?id=1bnwz1f3zjVYvpZFcpHDCa3WTe7bCViv3')
		}

		&.--ar_dizzy {
			background-image url('https://drive.google.com/uc?id=1XT7IzMzQJ2yOG7pEnAoFSabDCT1stOXB')
		}

		&.--ar_lunacy {
			background-image url('https://csgo.drweissbrot.net/images/ar_lunacy.jpg')
		}

		&.--ar_monastery {
			background-image url('https://drive.google.com/uc?id=1lljFRlfoYeTYfxl4C-7b9nsedMOWmg1r')
		}

		&.--ar_shoots {
			background-image url('https://drive.google.com/uc?id=1Q4sXB6LN9H_irgPIgeveEuYjFS_83qRn')
		}

		&.--coop_autumn {
			background-image url('https://csgo.drweissbrot.net/images/coop_autumn.jpg')
		}

		&.--coop_kasbah {
			background-image url('https://csgo.drweissbrot.net/images/coop_kasbah.jpg')
		}

		&.--cs_agency {
			background-image url('https://drive.google.com/uc?id=1htlz-pQUOv_J9LdvQTK-d0aPpsBIcWoH')
		}

		&.--cs_apollo {
			background-image url('https://csgo.drweissbrot.net/images/cs_apollo.jpg')
		}

		&.--cs_assault {
			background-image url('https://drive.google.com/uc?id=1x5kX5zVIXZNfg7pyLNFUkrbVhcpiICSc')
		}

		&.--cs_cruise {
			background-image url('https://csgo.drweissbrot.net/images/cs_cruise.jpg')
		}

		&.--cs_downtown {
			background-image url('https://csgo.drweissbrot.net/images/cs_downtown.jpg')
		}

		&.--cs_insertion {
			background-image url('https://csgo.drweissbrot.net/images/cs_insertion.jpg')
		}

		&.--cs_italy {
			background-image url('https://drive.google.com/uc?id=1JPxtkYRoNcMVht-4Frtd_4HzscLhANYO')
		}

		&.--cs_militia {
			background-image url('https://drive.google.com/uc?id=1hIPRC4WJIinngS6klsS7DL5umTfsXvqI')
		}

		&.--cs_motel {
			background-image url('https://csgo.drweissbrot.net/images/cs_motel.jpg')
		}

		&.--cs_museum {
			background-image url('https://csgo.drweissbrot.net/images/cs_museum.jpg')
		}

		&.--cs_office {
			background-image url('https://drive.google.com/uc?id=1TiQWfj8v7G3z64WTtrSxUkQk47rdvSuB')
		}

		&.--cs_rush {
			background-image url('https://csgo.drweissbrot.net/images/cs_rush.jpg')
		}

		&.--cs_seaside {
			background-image url('https://csgo.drweissbrot.net/images/cs_seaside.jpg')
		}

		&.--cs_thunder {
			background-image url('https://csgo.drweissbrot.net/images/cs_thunder.jpg')
		}

		&.--cs_workout {
			background-image url('https://csgo.drweissbrot.net/images/cs_workout.jpg')
		}

		&.--de_abbey {
			background-image url('https://csgo.drweissbrot.net/images/de_abbey.jpg')
		}

		&.--de_ali {
			background-image url('https://csgo.drweissbrot.net/images/de_ali.jpg')
		}

		&.--de_ancient {
			background-image url('https://drive.google.com/uc?id=1jTylC0P3keu84YxYmsMOx8ieCotNrADi')
		}

		&.--de_anubis {
			background-image url('https://drive.google.com/uc?id=1maSdC8jGbST9uxOrneNiFo38fGgPUJ0T')
		}

		&.--de_austria {
			background-image url('https://csgo.drweissbrot.net/images/de_austria.jpg')
		}

		&.--de_aztec {
			background-image url('https://csgo.drweissbrot.net/images/de_aztec.jpg')
		}

		&.--de_bank {
			background-image url('https://drive.google.com/uc?id=1l5gC8ib9qieUrE420HJT1HkZnoPCYfgr')
		}

		&.--de_bazaar {
			background-image url('https://csgo.drweissbrot.net/images/de_bazaar.jpg')
		}

		&.--de_biome {
			background-image url('https://csgo.drweissbrot.net/images/de_biome.jpg')
		}

		&.--de_blackgold {
			background-image url('https://csgo.drweissbrot.net/images/de_blackgold.jpg')
		}

		&.--de_blagai {
			background-image url('https://drive.google.com/uc?id=1kkQ_1L-GGv9pNOc971knSObRO7_ONT4Y')
		}

		&.--de_breach {
			background-image url('https://drive.google.com/uc?id=1VqkdYcaKQkoQvR0N-1ovgYFfiPkEXvzi')
		}

		&.--de_cache {
			background-image url('https://drive.google.com/uc?id=14wM5YEx4jcV-WpVKfxPjGMyXwUfLgZ2u')
		}

		&.--de_calavera {
			background-image url('https://csgo.drweissbrot.net/images/de_calavera.jpg')
		}

		&.--de_canals {
			background-image url('https://drive.google.com/uc?id=1JLgaQgjA0lTClQsrPvkunVdrMkSw883F')
		}

		&.--de_castle {
			background-image url('https://csgo.drweissbrot.net/images/de_castle.jpg')
		}

		&.--de_cbble {
			background-image url('https://drive.google.com/uc?id=1p-GRyjufV5nq7LLSdDpTtuRoAyCdUvVG')
		}

		&.--de_chlorine {
			background-image url('https://csgo.drweissbrot.net/images/de_chlorine.jpg')
		}

		&.--de_coast {
			background-image url('https://csgo.drweissbrot.net/images/de_coast.jpg')
		}

		&.--de_dust2 {
			background-image url('https://drive.google.com/uc?id=1ma_WAcsXeWwhkC5w-lSkzF3BFwNULUjX')
		}

		&.--de_dust {
			background-image url('https://csgo.drweissbrot.net/images/de_dust.jpg')
		}

		&.--de_elysion {
			background-image url('https://csgo.drweissbrot.net/images/de_elysion.jpg')
		}

		&.--de_empire {
			background-image url('https://csgo.drweissbrot.net/images/de_empire.jpg')
		}

		&.--de_engage {
			background-image url('https://csgo.drweissbrot.net/images/de_engage.jpg')
		}

		&.--de_facade {
			background-image url('https://csgo.drweissbrot.net/images/de_facade.jpg')
		}

		&.--de_favela {
			background-image url('https://csgo.drweissbrot.net/images/de_favela.jpg')
		}

		&.--de_guard {
			background-image url('https://csgo.drweissbrot.net/images/de_guard.jpg')
		}

		&.--de_inferno {
			background-image url('https://drive.google.com/uc?id=1WGe6BuZKf_IKAPSgSrHYw1mbp6AfaqIx')
		}

		&.--de_lake {
			background-image url('https://drive.google.com/uc?id=17We8csJfwvHZDH7gf0PjFWgnXllbvTHC')
		}

		&.--de_library {
			background-image url('https://csgo.drweissbrot.net/images/de_library.jpg')
		}

		&.--de_lite {
			background-image url('https://csgo.drweissbrot.net/images/de_lite.jpg')
		}

		&.--de_marquis {
			background-image url('https://csgo.drweissbrot.net/images/de_marquis.jpg')
		}

		&.--de_mikla {
			background-image url('https://csgo.drweissbrot.net/images/de_mikla.jpg')
		}

		&.--de_mirage {
			background-image url('https://drive.google.com/uc?id=16yX2UQZzDS4c3G-b_0Bzr7FlEi6B5snS')
		}

		&.--de_mist {
			background-image url('https://csgo.drweissbrot.net/images/de_mist.jpg')
		}

		&.--de_mutiny {
			background-image url('https://csgo.drweissbrot.net/images/de_mutiny.jpg')
		}

		&.--de_nuke {
			background-image url('https://drive.google.com/uc?id=1ROhkByOKETkbYoBwzYn2_aXwNdjknnGs')
		}

		&.--de_overgrown {
			background-image url('https://csgo.drweissbrot.net/images/de_overgrown.jpg')
		}

		&.--de_overpass {
			background-image url('https://drive.google.com/uc?id=1KAfogBRC9pI17qnF5BALBtlihL0LBQfo')
		}

		&.--de_prime {
			background-image url('https://drive.google.com/uc?id=1QcoWJBqnH_Vj8-gU5PUGhmoa-8fsUMNY')
		}

		&.--de_royal {
			background-image url('https://csgo.drweissbrot.net/images/de_royal.jpg')
		}

		&.--de_ruby {
			background-image url('https://csgo.drweissbrot.net/images/de_ruby.jpg')
		}

		&.--de_safehouse {
			background-image url('https://drive.google.com/uc?id=1eg1L8DnH0fbivhb_ND3-1GzPjdxxBmWt')
		}

		&.--de_santorini {
			background-image url('https://csgo.drweissbrot.net/images/de_santorini.jpg')
		}

		&.--de_seaside {
			background-image url('https://csgo.drweissbrot.net/images/de_seaside.jpg')
		}

		&.--de_season {
			background-image url('https://csgo.drweissbrot.net/images/de_season.jpg')
		}

		&.--de_shipped {
			background-image url('https://csgo.drweissbrot.net/images/de_shipped.jpg')
		}

		&.--de_shortdust {
			background-image url('https://csgo.drweissbrot.net/images/de_shortdust.jpg')
		}

		&.--de_shortnuke {
			background-image url('https://drive.google.com/uc?id=1kFpJtWZFmcufTnRWv1pkJIV4ffPIV7KC')
		}

		&.--de_stmarc {
			background-image url('https://drive.google.com/uc?id=1-Ow2D_UxFOGZGArrf2M6hohqwUeC8xMR')
		}

		&.--de_studio {
			background-image url('https://csgo.drweissbrot.net/images/de_studio.jpg')
		}

		&.--de_subzero {
			background-image url('https://csgo.drweissbrot.net/images/de_subzero.jpg')
		}

		&.--de_sugarcane {
			background-image url('https://drive.google.com/uc?id=1eKaaeV1HdVP-l23tD0mOsSieebatHW_d')
		}

		&.--de_swamp {
			background-image url('https://csgo.drweissbrot.net/images/de_swamp.jpg')
		}

		&.--de_thrill {
			background-image url('https://csgo.drweissbrot.net/images/de_thrill.jpg')
		}

		&.--de_train {
			background-image url('https://drive.google.com/uc?id=1c4hNme--_7Bgo4gYAYJkEq4YeYbyzCp3')
		}

		&.--de_tulip {
			background-image url('https://csgo.drweissbrot.net/images/de_tulip.jpg')
		}

		&.--de_tuscan {
			background-image url('https://drive.google.com/uc?id=16bHBpAYl9QQrd0nENDvdOWuKW9mtoFyc')
		}

		&.--de_vertigo {
			background-image url('https://drive.google.com/uc?id=1D6KJn81kS2fPHKQG7KbtQC6R0Xf0fRz2')
		}

		&.--de_zoo {
			background-image url('https://csgo.drweissbrot.net/images/de_zoo.jpg')
		}

		&.--dz_blacksite {
			background-image url('https://csgo.drweissbrot.net/images/dz_blacksite.jpg')
		}

		&.--dz_frostbite {
			background-image url('https://csgo.drweissbrot.net/images/dz_frostbite.jpg')
		}

		&.--dz_junglety {
			background-image url('https://csgo.drweissbrot.net/images/dz_junglety.jpg')
		}

		&.--dz_sirocco {
			background-image url('https://csgo.drweissbrot.net/images/dz_sirocco.jpg')
		}

		&.--gd_rialto {
			background-image url('https://csgo.drweissbrot.net/images/gd_rialto.jpg')
		}

		&.--lobby_mapveto {
			background-image url('https://csgo.drweissbrot.net/images/lobby_mapveto.jpg')
		}

		&.--training {
			background-image url('https://drive.google.com/uc?id=11Q8CLqTaNhLYRwrWY1sl6xU9fPjPKaTV')
		}

		&.--x_default {
			background-image url('https://csgo.drweissbrot.net/images/random.jpg')
		}
	}
}
